* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-image: url(../img/patio.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
form {
	text-align: center;
}
textarea {
	width: 100%;
    padding: 5px 15px;
    background-color: rgba(84, 58, 99, 0.86);
    border-radius: 10px;
    color: #fbf2a7;
    font-size: 15px;
    overflow: hidden;
}
button {
	padding: 5px;
	width: 70%;
    height: 30px;
    border-radius: 10%;
    background-color: #74725c;
    color: #fde9a0;
    font-size: 17px;
    border-color: #c7c975;
    margin-bottom: 2%;
}
h2 {
    color: rgba(255, 239, 170, 1);
}
#contador {
    background-color: rgba(116, 114, 92, 0.95);
    display: inline-block;
    padding: 1% 2%;
    margin: 2% 0% 2% 0%;
    border-radius: 5px;
    border: 1.5px solid #c7c975;
}
.conta {
    color: #f4e9a0;    
}
.container {
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
}
.caja {
    padding: 5px 11px 10px;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 3%;
}
.colorUno {
    color: #72d409;
    background-color: #1e1647;
}
.colorDos {
    color: #d82c03;
    background-color: #fce5a2;
}
.horaBox {
    border-radius: 5% 5% 0% 0%;
    width: 100%;
    padding: 10px 0px 0px 10px;
}
.horaBox, .caja {
    color: #fbf2a7;
    background-color: rgba(39, 32, 18, 0.84);
}
